@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
*{
   font-family: 'Roboto', sans-serif;  
   text-transform: uppercase;
   text-align: center;
} 

body{
    background-color: #D8E6FC;

}
.bg-nav{
    background-color: rgba(57, 136, 246, .8) ;
}
.portada{
    height: 60vh;
    width: 100%;
}
.TwoCol{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.bg-morado{
    background-color: rgb(148,130,254);
    color: #FFFFFF;
    border-radius: 20px;
}
.titulo-parrafo{
    text-align: center;
    font-size: 250%;
    font-weight: 600;
    letter-spacing: 2px;
}
.mapa{
    width: 100%;
    height: 60vh;
    border-radius: 20px;
}
.nombre{
    font-size: 1.5rem;
    margin: auto;
    padding: 1%;
    color: seashell;
    width: 100%;
    text-align: center;
}
.principales-servicios{
    list-style: none;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    margin: auto;
    padding: 40px;
}
.principales-servicios li{
    align-items: center;
    margin: auto;
    padding: 20px;
}
.principales-servicios li img{
width: 1rem;
}
.whatsapp{
    font-size: 8vh;
    position: fixed;
    bottom: 20px;
    right: 50px;
    background-color: white;
}
.whatsapp a{
    color: yellowgreen;
}

.whatsapp :hover{
    color: blue;
}
/* media para moviles*/
@media screen  and (max-width: 800px) {
    .navbar{
        text-align: start;
    }
 .portadas{
     display: grid;
     -ms-grid-columns: auto -ms-grid-columns;     
 }
    .mapa{
        width: 100%;
        height: 50vh;
    }
 .whatsapp{
    font-size: 8vh;
    position: fixed;
    bottom: 20px;
    right: 30px;
    color: green; }
    .principales-servicios{
        list-style: none;
        display: block;
        margin: auto;
        padding: 40px;
    }
    .TwoCol{
        display: block;
    }
    .carousel{
        display: none;
    }

}

/* media para computadora */
