@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	
.logo{width: 80px;}
.cards {
    transition: all 0.2s ease;
    cursor: pointer
}

.cards:hover {
    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.1)
}
body{
   font-family: 'Roboto', sans-serif;  
   text-transform: uppercase;
   text-align: center;
    background-color: white;
}
.apps{
    font-size: 32px;
}
.bg-nav{
    display: absolute;
    border-style: 1px solid black;
    background-color: white;
    border-radius: 10px;
}
.centrar{
    display: grid;
    place-items: center;
}
.numeroTel{
    text-align: start;
    font-size: 1.25rem;
    text-decoration: none;
    color: black;
}
.portada{
    display: block;
    width: 100%;
    max-height: min-content;
}
.TwoCol{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.bg-morado{
    background-color: rgb(148,130,254);
    color: #FFFFFF;
    border-radius: 20px;
}
.titulo-parrafo{
    text-align: center;
    font-size: 250%;
    font-weight: 600;
    letter-spacing: 2px;
}
.mapa{
    width: 100%;
    height: 30vmax;
    border-radius: 20px;
}
.nombre{
    font-size: 1.5rem;
    margin: auto;
    padding: 1%;
    color: seashell;
    width: 100%;
    text-align: center;
}
.principales-servicios{
    list-style: none;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    margin: auto;
    padding: 40px;
}
.principales-servicios li{
    text-align: center;
    margin: auto;
    padding: 20px;
    
}
.principales-servicios li img{
width: 5rem;
}

/* media para moviles*/
@media screen  and (max-width: 800px) {
    .navbar{
        text-align: start;
    }
    .apps{
        font-size: 32px;
    }

    .mapa{
        width: 100%;
        height: 50vh;
    }
    .principales-servicios{
        list-style: none;
        display: block;
        margin: auto;
        padding: 40px;
    }
    .TwoCol{
        display: block;
    }
    .mapa{
        width: 100%;
        height: 10rem;
        border-radius: 20px;
    }

}
@media screen and (min-width:1200px) {

    .mapa{
        width: 100%;
        height: 30vh;
        border-radius: 20px;

    }
}
@media screen and (max-width:530px) {
    .cerrar_movil{
        display: none;
    }

    }
/* media para computadora */
